
.about-us {
  padding-top: 177px;
  &__box {
    display: flex;
  }

  &__text-container {
    padding-left: 121px;
  }

  &__minititle {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 25px;
    line-height: 1.12;

    color: #858585;
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 75px;

    font-weight: 700;
    font-size: 35px;
    line-height: 1.07;
    letter-spacing: -0.4px;
  }
  &__span {
    color: #55A630;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.16;
  }

  &__link {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 25px;
    line-height: 1.12;
    text-decoration: none;

    color: #55A630;
  }
}