.trainee {
  margin-top: 300px;

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__text {
    position: absolute;
    top: 0;

    margin-left: 28px;

    font-weight: 600;
    font-size: 32px;
    line-height: 1.19;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  &__item {
    position: relative;
    height: 260px;

    background: linear-gradient(90deg, rgba(123,255,138,0.7654412106639531) 0%, rgba(9,121,14,1) 75%, rgba(0,212,255,1) 100%);

    &:nth-child(-n + 2) {
      margin-bottom: 55px;
    }
  }
}
