.trainee {
  margin-top: 300px;


  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__text {
    margin-left: 28px;
    margin-top: 35px;
    margin-bottom: 0;

    font-weight: 600;
    font-size: 32px;
    line-height: 1.19;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  &__item {
    height: 260px;
    overflow: hidden;

    &:hover .hidden-box {
      transform: translateY(0);
    }

    &:nth-child(-n + 2) {
      margin-bottom: 55px;
      width: 570px;
    }
    &:nth-child(1) {
      background-image: linear-gradient(to right rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)),
      url(/images/picture-1.jpg);
    }
    &:nth-child(2) {
      background-image: linear-gradient(to right rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)),
      url(/images/picture-2.jpg);
    }
    &:nth-child(3) {
      width: 364px;
      background-image: linear-gradient(to right rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)),
      url(/images/picture-3.jpg);
    }
    &:nth-child(4) {
      width: 364px;
      background-image: linear-gradient(to right rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)),
      url(/images/picture-4.jpg);
    }
    &:nth-child(5) {
      width: 364px;
      background-image: linear-gradient(to right rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)),
      url(/images/picture-5.jpg);
    }
  }
}


.hidden-box {
  margin-left: 22px;
  margin-top: 60px;

  transform: translateY(150%);
  transition: transform 250ms linear;

  &__text {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;

    color: #FFFFFF;
  }
}
